<!DOCTYPE html>
<html>
  <head>
    <title>Comboanimals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= video_tag "tiger.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
